
/* The hero image */
.hero-container {
  @include flex(column);
  @include align-items(center);
  height: 40em;
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  /*linear-gradient(
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.8)
    ),*/
  background-image: url('~@/assets/images/site/neonbrand-394691-unsplash.jpg');
  /* Position and center the image to scale nicely on all screens */
  background-position: right -20.1em;
  background-repeat: repeat;
  background-size: cover;
}

.hero-text {
  @include flex(column);
  @include align-items(center);
  border: 3px solid $border-1;
  padding: 1.4em;
  margin-top: 2.8em;
  background-color: $background-1;
  h1 {
    font-size: 60px;
    color: $ci-3;
  }
  h3 {
    margin-top: 1.4em;
    font-size: 20px;
    color: $ci-3;
  }
}

.hero-boxes {
  @include flex;
  @include align-items(center);
  @include justify-content(space-around);
  width: 100%;
  margin-top: 4em;
  margin-bottom: 2em;
}
