.footer {
  background: $background-1;
  color: #303216;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 3em;

  #hours {
    margin-top: 1.2em;
    font-size: 24px;
  }

  #socialLinks,
  #footerNav {
    margin-top: 1.2em;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      display: flex;
      width: 100%;
    }

    li {
      display: block;
      text-align: center;
      text-decoration: none;
      padding-right: 1.5em;
      padding-left: 1.5em;
      border-right: 1px solid $ci-3;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        border-right: none;
      }

      a {
        color: $ci-3;
      }
    }
  }

  #socialLinks {
    ul {
      list-style-type: none;
      width: 100%;
      display: flex;
      flex-direction: row;

      li a {
        display: block;
        color: #303216;
        text-align: center;
        text-decoration: none;
        font-size: 44px;
      }
    }
  }

  #copyright {
    font-size: 14px;
    margin-top: 1.4em;
    margin-bottom: 2em;
  }
}
