#header {
  font-size: 16px;
  background: $background-1;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;

  #leftHeader {
    width: 25rem;
    height: 6.25rem;
    display: flex;
    align-items: center;
  }

  #logo img {
    width: 3.75em;
    margin-left: 2.5em;
    margin-right: 0.625em;
  }
  #logoText span {
    color: $ci-3;
    font-size: 24px;
  }
  #rightHeader {
    width: 25em;
    display: flex;
    align-items: center;
  }
  #avatarArea {
    margin-right: 1.25em;
  }

  #accountArea {
    font-size: 16px;
    color: $ci-3;
  }
}
