@import 'src/styles/normalize-and-reset';

@import "src/styles/variables";
@import "src/styles/widgets";

/* Hide pages until data is read */
[v-cloak] {
  display: none !important;
}

body {
  font: 1em normal Verdana, Tahoma, sans-serif;
  color: black;
  font-size: 20px;
}

main {
  /* stack header-section-footer on all pages */
  display: flex;
  flex-direction: column;
}

